/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background: #B3E5FC;
}
.jfx-button {
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: #64B5F6;
    -fx-text-fill: white;
}
.INFO {
    -fx-background-color: #BBDEFB;
}